
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
  }
  
  .navbar .logo img {
    max-width: 100%;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    color: rgb(136, 118, 237);
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-links a:hover {
    color: #f1f1f1;
  }
  
  .login a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
    background-color: #007BFF;
    border-radius: 5px;
  }
  
  .login a:hover {
    background-color: #0056b3;
  }
  